{% extends 'photon/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password Page{% endblock title %}

{% block content %}
<div class="row justify-content-center">
    <div class="content-section col-6">
        <form action="" method="post">
           <fieldset class="form-group">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="row justify-content-end">
                <input type="submit" class="btn btn-outline-success  mr-3" value="Update Password">
            </div>
           </fieldset>
        </form>
    </div>
</div>

{% endblock content %}