{% extends 'photon/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Password Reseted{% endblock title %}

{% block content %}
<div class="row justify-content-center">
    <div class="content-section col-8">
       <div class="alert alert-primary alert-dismissible fade show" role="alert">
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               <span class="sr-only">Close</span>
           </button>
           <strong>Password has been Reset!</strong> Please Login with new password.
       </div>
       
    </div>
</div
{% endblock content %}