{% extends 'photon/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Login Page{% endblock title %}

{% block content %}
<div class="row justify-content-center">
    <div class="content-section ">
       <div class="alert alert-primary alert-dismissible fade show" role="alert">
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               <span class="sr-only">Close</span>
           </button>
           <strong>Password Reset!</strong> email has been sent to your gmail account.Please check your gmail.
       </div>
    </div>
</div
{% endblock content %}